/* about.css */

/* General styling */
.AboutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.AboutContainer h1 {
    font-size: 400%;
    color: #3498db;
    font-size: 2.5rem;
    text-align: center;
}

.about-section {
    margin-top: 40px;
}

.about-section img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

.about-section h2 {
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-size: 300%;
}



.about-section p {
    font-size: 200%;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}

/* Additional styling as needed */

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .AboutContainer {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .AboutContainer h1 {
        font-size: 2rem; /* Decrease font size for smaller screens */
    }

    .about-section img {
        max-width: 60%; /* Decrease image width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .about-section img {
        max-width: 80%; /* Further decrease image width for extra small screens */
    }
}
