/* benefits.css */

.BenefitsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.BenefitsContainer h1 {
    color: #3498db;  /* Adjust the color as needed */
}

.benefit {
    margin-top: 40px;
}

.benefit img {
    width: 60px; /* Adjust the size as needed */
    margin-bottom: 20px;
}

.benefit h2 {
    color: #333;  /* Adjust the color as needed */
    margin-top: 20px;
}

.benefit p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Additional styling as needed */
