/* Homepage.css */

/* General styling */
.HomepageContainer {
    max-width: 1700px;
    margin: 80px auto 0;
    padding: 20px;
}

/* Hero section */
.hero-section {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-content h1 {
    font-size: 300%;
    margin-bottom: 20px;
    color: #3498db;
}

.hero-content p {
    /* font-size: 1.2em; */
    font-size: 200%;
    color: #3498db;
}

/* Benefits section */
.benefits-section {
    margin-top: 50px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: calc(30% - 40px); /* Adjust card width for smaller screens */
    max-width: 700px; /* Limit card width for larger screens */
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1); /* Enlarge the card on hover */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1em;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 40px); /* Adjust card width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 40px); /* Adjust card width for smaller screens */
    }
}
